.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .inter-semibold {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-bold {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-medium {
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .mulish-regular {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .outfit-bold {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .text-gradient{
    background: linear-gradient(205.4deg, #15E6EC 5.88%, #89EEC5 89.47%);  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}